

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid turquoise;
  font-family: Arial, Helvetica, sans-serif;
  }

 body {
    background-color: darkorchid;
    overflow: hidden;
    
 }

 p {
    color: whitesmoke;
    font-size: 1.5em;
 }

 button {
    outline: none;
    background-color: gray;
    color:antiquewhite;
    font-size: 1.5em;
 }
    h1, h2 {
        text-align: center;
    }

li {
    list-style: none;
}

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.top-bar p {
    float: right;
}

.inner-container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-intro, main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30vh;
    
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin:  0 auto;
}